<form action="/palindromes">
  <div class="form-group">
    <label for="string">Enter a word and see if it's a palindrome:</label>
    <input name="string" id="string" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-danger">Palindrome?</button>
</form>
